<img src="../image/wanted.png" class="img-wanted">
<input type="text" class="form-control" id="title" placeholder="犯人">
<br />
<input type="text" class="form-control" id="reward" placeholder="懸賞金額">
<br />
<textarea class="form-control" id="content" placeholder="罪行" rows="3"></textarea>
<br />
<a class="btn btn-primary btn-post"><i class="fa fa-plus fa-lg"></i>  Wanted</a></br>
