<hr></hr>
<div>
  <h3>犯人:  <span class="label label-default"><%= userinfo['title'] %></span></h3>
</div>
<div>
  <span><h3>$<%= userinfo['reward'] %></h3></span>
</div>

<div>
  <span><h3>罪行：<%= userinfo['content'] %></h3></span>
</div>
