<hr></hr>
<div class='name'>Title:</div>
<input type="text" class="form-control" placeholder="<%= userinfo['title'] %>" id="title0" />
<br />
<div class='name'></div>
<textarea type="text" class="form-control" placeholder="<%= userinfo['content'] %>" id="content0" /></textarea>
<br />
<button class="btn-update" name=<%=u serinfo[ '_id']%>>Done</button>
